.badge {
    display: inline-block;
    background-color: red;
    border :6px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.1em 0.4em 0.1em 0.4em;
    margin: 0.3em;
    text-align : center;
    border-radius: 10px;
}